ion-content {
   /* --background: #f0f2f5; */
  }
  
  ion-card {
    cursor: pointer;
  }
  
  ion-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  ion-menu-button {
    color: white;
  }