<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Marca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="openAddMarcaModal()">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Añadir Marca
  </ion-button>

  <!-- Tabla de marcas -->
  <ion-grid>
    <ion-row>
      <ion-col size="2"><strong>ID</strong></ion-col>
      <ion-col size="4"><strong>Nombre Marca</strong></ion-col>
      <ion-col size="3"><strong>Fecha de Creación</strong></ion-col>
      <ion-col size="3"><strong>Acciones</strong></ion-col>
    </ion-row>
  
    <ion-row *ngFor="let marca of marcas">
      <ion-col size="2">{{ marca.idMarca }}</ion-col>
      <ion-col size="4">{{ marca.nombre }}</ion-col>
      <ion-col size="3">{{ marca.fechaCreacion | date: 'dd/MM/yyyy' }}</ion-col>
      <ion-col size="3">
        <!-- Botón para eliminar marca -->
        <ion-button color="danger" (click)="deleteMarca(marca.idMarca)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
