<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="marca" routerDirection="root">
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>Marca</ion-label>
      </ion-item>
      <ion-item routerLink="tipo-producto" routerDirection="root">
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>Tipo de Producto</ion-label>
      </ion-item>
      <ion-item routerLink="producto" routerDirection="root">
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>Producto</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón del menú lateral -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Título -->
    <ion-title>Belmemdoc</ion-title>

    <!-- Botón de cerrar sesión -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Este es el outlet principal donde se cargan las páginas -->
<ion-router-outlet id="main-content"></ion-router-outlet>
